@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Posts</h1>

@foreach (var post in Model.Posts) {
    <div>
        <h3>@post.Title</h3>
        <p>@post.Content</p>
    </div>
}
